

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Raleway', sans-serif;
    max-width: 1920px;
 
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1920px;
    margin: auto;
    font-size:small;
    margin-left:60px;
    
  
}
header > a > img{
    width:190px;
    padding: auto;
  
  
}
a{
    color:black;
    text-decoration:none;   
}
nav li:hover a{
    color: #0065FC;
   padding-top: 47px;
   
}
nav li:hover{
    border-top: 3px solid #0065FC;
    padding-top: 15px;
    margin-top: -48px;
  
}
ul{
    list-style-type: none;
  
   
}    
nav ul{
    padding: 0;
    padding-right:10px;

}

nav li{
    display: inline-block;
    padding:0 20px;
    
}
form{
    padding:20px 0;  
    display: flex;  
    margin-left:60px;
}
section h3{
    padding-top:20px;
    
    
}
#info{
    width:44px;
    height:42px;
    background-color:#F2F2F2;
    border-radius: 10px 0 0 10px;
    color:black;  

  
   
}
.noir{
    color:black;
    margin-top: 12px; 
    margin-left: 15px;
    margin-right:-15px;
    border:2px solid #F2F2F2;
    border-radius: 10px 0 0 10px;   
}


 


#search{
    border:2px solid #c1c1c1;
    width: 170px;
    border:1px solid #c1c1c1;
    height: 40px;
    border-radius: 0;
    padding-left: 5px;
    color:black;
    font-weight: bold;
    display: flex;
}
#send{
    border:1px#c1c1c1 solid;
    height:42px;
    width:120px;
    border-radius:0 10px 10px 0;
  
    background-color: #0065FC;
    color:white;
    font-weight:bolder;

   display: flex;
}


 #section1{
    margin:10px;
    width:992px;
    height:200px;
    font-size:small;
    
    
 }
 #section1 h1{

    margin-left:60px;
    margin-top: 50px;
 }
 #section1 p{

    margin-left:60px;
 }
.filtres{
    display: flex; 
    justify-content: space-between;  
    font-size:small;
    margin-left:60px;
    font-size:x-small;
    
}

.filtres ul{
    display: flex;
   
    gap:20px;
    height: 50px;
  padding-top: 17px;
    padding-left: 6px;
    padding-right:300px;
    
}
.filtres li{
    font-weight: bold; 
    display: flex; 
    border:2px solid #F2F2F2;
    height: 28px;
    border-radius:20px;

   
   
}
.filtres li a{
    padding: 10px 22px;
    text-align: center;
    padding-left: 8px;
    padding-right:24px;
    padding-top:5px;
    font-size:x-small;

    
}
.filtres li:hover{
    background-color: #0065FC;
    

}

.filtres li a:hover{
    color:#DEEBFF;
}
.bleu{
    color:#0065FC;
    text-align: center;
   
   
}

.fa-info i{
         width:15px;
         height:15px;
         border-radius: 40px;
         border:3px solid black;  
    border-radius: 40px;
    width:15px;
    height:17px;
    margin-bottom:15px;
    margin-right: 10px;
    }
    
    .fa-money-bill-wave{
        width: 28px;
        height: 22px;
        background-color: #DEEBFF;
        border-radius: 40px;
        padding-top: 8px;
    }
    .fa-child-reaching{
        width: 29px;
        height: 22px;
        padding-top:8px;
        background-color: #DEEBFF;
        border-radius: 40px;
        

       
    }
    .fa-heart{
        width: 29px;
        height: 22px;
        background-color: #DEEBFF;
        border-radius: 40px;
        padding-top: 8px;
        
    }
    .fa-dog{
        width: 30px;
        height: 22px;
        background-color: #DEEBFF;
        border-radius: 40px;
        padding-top: 8px;
    }


p i{
        border:3px solid #F2F2F2;  
        border-radius: 40px;
        width:15px;
        height:17px;  
       
        margin-right: 10px;
        color: #0065FC;  
      
      
}

.fa-magnifying-glass{
      
    width:50px;
    border-radius:0 10px 10px 0;
    margin-left:-5px;
   
   
    font-weight:bolder;
    padding-top:12px;
  
}
.loupe{
   background-color: #0065FC;
   display:none;
   color: white;
   border-radius:0 10px 10px 0;
   height:42px;
   

}





span.graisse{
         font-weight:bold;
}
.fa-star{
    color:#0065FC;
}
.fa-star.grey{
    color:#F2F2F2;
    font-size: x-small;
}   
main{

    height:1100px;
  
}
#section2 h1{


    padding-left:25px;
   padding-top:30px;

  
    font-size:smaller;   
      }




.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
   width: 580px;
   height:240px;
   padding-left:5px;
   padding-top:15px; 
 
}

.cropped{
margin-top: 10px;

    width: 170px;
    height:130px;
   
    background-color: white;
    border:1px white solid;
 
  box-shadow: 2px 0px 2px 2px #c1c1c1;
  font-size: x-small;
  border-radius:10px;
 
    margin-left:5px;
    margin-bottom: 10px;
  
    
}

  

.cropped img{
   
    width:166px;
    height:70px;
     border-radius:10px 10px 0 0;
     object-fit:cover;
   
    margin-bottom: -20px;
    margin-left:3px;
    margin-top:3px;
 } 

.cropped h3{
    padding-bottom:5px;
    width: 160px;
   
}

.container{
  
padding-top:3px;
    height:80px;
   padding-left: 10px;

   width:160px;

}





.container p{
    padding-bottom:5px;
}


#section2 h3{
 
    font-size:small;
   margin-right: 490px;
   padding-left:10px;
   
}

#section2{
   
    width:600px;
    height:430px;
  
    
     background-color: #F2F2F2;
    
     
     border-radius: 10px; 
    
     margin-top:20px;
     margin-left: 60px;
  

   
 
 }
#section3{
 
    width:250px;
    height:430px;
   
    border-radius: 10px;


   background-color: #F2F2F2;
  
   margin-top:20px;
   margin-left:25px;
   padding-right:10px;


}
#section3 h1{
 
 
    font-size:smaller;
    margin-left:25px;
  margin-top:22px;

}
.fa-star.noir{
    color:black;
    border:none;
    padding-left:63px;
    font-size:smaller;
  
}
.cropped2{
   
    height:92px;
    width: 210px;
    background-color: white;
    border:1px white solid;
    box-shadow: 2px 0px 2px 2px #c1c1c1;
    border-radius:10px 10px;
 
   margin-left:30px;
    margin-bottom: 20px;

}

#cardsheb{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width:980px;

}
.cropped2 img{

width:+78px;
height:89px;
border-radius:10px 0 0 10px;
object-fit:cover;


float:left;
margin-right:10px;
margin-top:2px;
margin-left:2px;




}

.container2{

   
    height:50px;
    font-size:xx-small;
    padding-bottom:18px;


  }

  .cards2{
    padding-top:35px;
   
  
    
  }
.cards2 h3{
    width:200px;
 padding-top: 7px;
   

  }
  
.container2 p{

padding-bottom:30px;}


.container2 stars{
  float:right;



}


#section4{

    width: 890px;
    height:370px;
   
 
   margin-top:20px;
   margin-left:60px;

  
    
}



#section4 h1{
    font-size:medium;
   padding-top:10px;
}

    
.container3{

    font-size:xx-small;
  
  }

.lieu{
    width:200px;
  
}
.lieu h3{
   
    padding-left:10px;
    width:200px;
    height:20px;
    padding-top: 10px;
      
  


}
.activites{

    display:flex;
    flex-direction: row;
  
   gap: 28px;
    padding-top: 20px;
    height:300px;
    width:888px;
    text-align:left;
    
    

    
          
        }
       

.pomeguesfrioul{
   
  display:flex;
  flex-direction: column;


}
.gardelongchamp{
    display:flex;
    flex-direction: column;
    margin-right:700px;
  
}

  .vieuxport img{
   
    
     width:200px;
     height:260px;
 
    
      object-fit:cover;
    
     
  
     object-position:bottom 70% right -50% left 50%;

     
    
    
     border-radius:10px 10px 0 0; 
 }
   
 
 
.vieuxport
{
    width: 200px;
    height:296px;
   
    object-fit: cover;
    
    border:1px white solid;
 
    box-shadow: 2px 0px 2px 2px #c1c1c1;
object-position:left;
 

  font-size: xx-small;

    border-radius:10px;
  

  
  
}




.pomegues img{
width:180px;
height:100px;
 border-radius:10px 10px 0 0;

 object-fit:cover;


 object-position:top 20%;
 margin-right:20px;

 



}



.pomegues
{

    width: 180px;
    height:140px;
    object-fit: cover;
  

    background-color: white;
    border:1px white solid;
 
  box-shadow: 2px 0px 2px 2px #c1c1c1;
  font-size: xx-small;

    border-radius:10px;
 
  

  
   
 

}

.frioul img{
   
  
    width:200px;
    height:90px;
     border-radius:10px 10px 0 0;
 
     object-fit:cover;
   
    

 object-position:left 2px;
 
 





}

.frioul
{

    width: 200px;
    height:125px;
    object-fit: cover;
    background-color: white;
    border:1px white solid;

  box-shadow: 2px 0px 2px 2px #c1c1c1;

    border-radius:10px;
    margin-top:30px;
  
  



}


.calanques img{
    

    width:200px;
    height:262px;
   
     object-fit:cover;
   
    
  
  
  
    object-position:left bottom 30px;
    
 
    border-radius:10px 10px 0 0; 
}  


.calanques
{

    width: 210px;
    height:296px;
    object-fit:cover;
    
  font-size: xx-small;
 
  border-radius:10px;
  background-color: white;
    border:1px white solid;
  
  box-shadow: 2px 0px 2px 2px #c1c1c1;


}

.garde img{
    


    width:200px;
    height:98px;
     border-radius:10px 10px 0 0;
    
     object-fit:cover;
   
  
         
 object-position: -35% 10%;
}
.garde
{

    width: 200px;
    height:135px;
    object-fit:cover;
    background-color: white;
    border:1px white solid;
 
  box-shadow: 2px 0px 2px 2px #c1c1c1;
  font-size: xx-small;

 
    border-radius:10px;


}

.longchamp img{
    width:200px;
    height:94px;
     border-radius:10px 10px 0 0;
    
     object-fit:cover;
     
 object-position: -30% 24%;
 
   
}
.longchamp
{

    width: 200px;
    height:128px;
    object-fit:cover;
   
 
  box-shadow: 2px 0px 2px 2px #c1c1c1;
  font-size: xx-small;

 
    border-radius:10px;
margin-top:35px;

}
.gardelongchamp{
    display: flex;
    flex-direction: column;
    
}



footer
{
   background-color: #F2F2F2;  
  
   max-width: 1920px;
   position: absolute; 
   bottom: 0; left: 0; right: 0;
   margin-top:450px;
 
   height: 140px; 

   padding-left:+50px;
  }


footer div
{
    display: flex;
    padding: 40px 0px;
    max-width: 1920px;
    margin: auto;  
    gap:120px;
}
footer article
{
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding-left:20px;
 
   
    
} 
footer ul
{
   display: flex;
   flex-direction: column;  
   gap: 8px;
   padding-top: 5px;
   font-size:x-small;
}
footer h3
{
    display: flex; 
    font-size: x-small;
    
     
}


html, body{
  
    height: 100%;
	margin: 0; padding: 0;
}
body {
 
    margin: auto;
    padding-bottom: 150px;
    
    position:relative;
    display : table;
	width: 100%; 

  }




    footer{
      
        margin:auto;
      
    }












@media only screen and (max-width:767px){
    * {
		box-sizing: border-box;
	}
	*{
        margin:0px;
        padding:0px;
        font-family: 'Raleway', sans-serif;
        max-width: 767px;
     
    }
    body {
		width: auto;
		margin: 0;
		padding: 0;
	}
    header{
       
        margin:auto;
        border:2px solid violet;
    }
    header ul{
        padding-right:80px;
        font-size: smaller;
    }

    
    
    html, body{
  
        height: 100%;
        margin: 0; padding: 0;
    }




#section1 h1{
    font-size:medium;
    
}


    header>a>img{
        width:75%;
        height:75%;
    } 
    
   main
   {

    height:1950px;
    width: 100%;
 
  
}


    #section1{
        font-size:small;
        
      
       
    }
    #section1 p{

      
        margin-top: 10px;
        font-size: x-small;
       
       
     }
    .fa-magnifying-glass{
      
        width:50px;
        border-radius:0 10px 10px 0;
        margin-left:-5px;
       
       
        font-weight:bolder;
        padding-top:12px;
      
    }
    .loupe{
       background-color: #0065FC;
       display:flex;
       color: white;
       border-radius:0 10px 10px 0;
       height:42px;
       

    }

    .boutonloupe{
        background-color: #0065FC;
       
        color: white;
        border-radius:0 10px 10px 0;
        height:42px;
        display:none;
    

     }
    
     form{
        padding:20px 0;  
        display: flex;  
      
     
       
    }

 
.noir{
    color:black;
    margin-top: 12px; 
  
 
    border:2px solid #F2F2F2;
    border-radius: 10px 0 0 10px;  
    padding-right: 30px; 
}


#search{
    border:2px solid #c1c1c1;
    width: 170px;
    border:1px solid #c1c1c1;
    height: 40px;
    border-radius: 0;
    padding-left: 5px;
    color:black;
    font-weight: bold;
    display: flex;
    font-size: 12px;
}


    #send{
        display:none;
    
       
     
       
    }



    .filtres{
       
        font-size:10px;
      
        
    }
    .filtres h3{

      
       
        margin-bottom: 100px;
       
    }
    .filtres ul{
        display: flex;
       flex-direction: column;
      
        gap:20px;
        height: 60px;
        padding-top: 60px; 
        margin-right: 400px;
        
     
        
    }

   
    .filtres li{
        font-weight: bold; 
        display: flex; 
      
        border:2px solid #F2F2F2;
        height: 28px;
        border-radius:20px;
        width:150px;
       
     
        
    
       
       
    }
    .filtres li a{
      
        text-align: center;
        padding-left: 8px;
        padding-right:24px;
        padding-top:7px;
        font-size:xx-small;
    
        
    }
    p i{
        margin-top:150px;
    }

    #cardsheb{
        display: flex;
        flex-direction: column-reverse;
      gap:10px;
     
        margin-top: 50px;
     
       
        }
    #section2 h3{
 
        font-size:x-small;
       
    
        
    }
    .cards{
     
      
      
       width: 580px;
       height:300px;
       padding-left:5px;
       padding-top:15px; 
     
     
    }
    .cropped{
        margin-top: 10px;
        
            width: 140px;
            height:130px;
           
            background-color: white;
            border:1px white solid;
         
          box-shadow: 2px 0px 2px 2px #c1c1c1;
          font-size: x-small;
          border-radius:10px;
         
            margin-left:10px;
            margin-bottom: 10px;
          
            
        }
        
          
        
        .cropped img{
           
            width:136px;
            height:70px;
             border-radius:10px 10px 0 0;
             object-fit:cover;
           
            margin-bottom: -20px;
            margin-left:3px;
            margin-top:3px;
         } 
        
        .cropped h3{
            padding-bottom:5px;
            width: 160px;
           
        }
        
        .container{
          
        padding-top:3px;
            height:80px;
           padding-left: 10px;
        
           width:160px;
        
        }
        
        
        
        
        
        .container p{
            padding-bottom:5px;
        }

    #section2
    {
   display: flex;
      flex-direction  :column;
    
   width: 600px;
   height:400px;





  
     }


     #section3{
 display: flex;

flex-direction: column;
align-items: center;

 height:500px;

 border-radius: 10px;


background-color: #F2F2F2;




width:600px;


padding-top:30px;
margin-top:230px;


}

    
    
    
    #section3 h1{
     
     
        font-size:smaller;
       
      margin-top:22px;
      padding-left:18px;
     
 
    
    }


   
 
  


  


  

    #section4{

      width:600px;
     
      height:400px;

      border-radius: 10px;
     
  
       
    }

    
 
     
     

   
   .lieu{
    font-size:smaller;
   }
  
  
.pomeguesfrioul{
   
    display:flex;
    flex-direction: column;
  
  
  }
  .gardelongchamp{
      display:flex;
      flex-direction: column;
     
    
  }
  

    .vieuxport img{
       
        width:135px;
        height:200px;
     
     
        }


    .vieuxport{
        width:135px;
        height:240px;
       
        background-color: white;
      
    

    }

    .pomegues{
      
        width:135px;
        height:110px;
    }
    .pomegues img{
     width:130px;
     height:70px;
    }



    .frioul{
    
     
       width:135px;
       height:100px;
    }

    

    .frioul img{
        width:135px;
        height:60px;
    }

    .calanques
    {
       
  
   
    width:135px;
    height:240px;
}


    .calanques img{
        width:135px;
        height:205px;
    } 
    

    .garde{
      
        width:135px;
        height:105px;
       
  

    }
      
    
    .garde img{
        width:135px;
        height:65px;
    }

       

    .longchamp{
     
        width:135px;
        height:100px;
     
     
      
    }


    
    .longchamp img
    { 
        width:135px;
        height:65px;
     
    
    }
       
    .gardelongchamp{
        display:flex;
        flex-direction: column;
      
    }

.activites{
    display:flex;
    flex-direction: row;
  
   gap: 24px;
    padding-top: 20px;
    height:300px;
    width:600px;
    text-align:left; 
    }
   

       


    footer
    {
       background-color: #F2F2F2;  
      
       max-width: 670px;
   
       margin-top:500px;
    
       height: 140px; 
    
       margin:auto;
      }
    
    
    footer div
    {
        display: flex;
        padding: 40px 0px;
        max-width: 670px;
        margin: auto;  
        gap:40px;
    }
    footer article
    {
        display:flex;
        flex-direction: column;
        gap: 10px;
        padding-left:20px;
     
       
        
    } 
    footer ul
    {
       display: flex;
       flex-direction: column;  
       gap: 8px;
       padding-top: 5px;
       font-size:xx-small;
    }
    footer h3
    {
        display: flex; 
        font-size: xx-small;
        
         
    }
   
    
    
   }
   
   





@media only screen and (max-width:480px)
{




    header{
       
        margin:auto;
        border:2px solid blue;
    }



    header>a>img
    {
      width:60%;
      height:60%;
    } 
    
    nav li:hover{
        border-top: 3px solid #0065FC;
        padding-top: 15px;
        margin-top: -48px;
      
    }

    nav ul{
        padding: 0;
        padding-right:10px;
    
    }
    
    nav li{
        display: inline-block;
        padding:0 10px;
        font-size: 10px;
        
    }

    #section1 p
    {

        margin-left:70px;
        margin-top: 10px;
        font-size: x-small;
       
       
    }

    ul
    {
        font-size:12px;
    }


 
    html, body{
  
        height: 100%;
        margin: 0; padding: 0;
    }
    body {
     
        margin-right:210px;
        padding-bottom: 150px;
        
      
        width: 50%; 
      
      }
      form{
        padding:20px 0;  
        display: flex;  
        margin-left:100px;
     
       
    }


#section1 h1
{
    margin-top: 50px;
    font-size:12px;
    
}



    #section1
    {
        font-size:small;
        width:85%;
        text-align: center;
      
       
    }
    
    #section1 p
    {

     
        margin-top: 10px;
        font-size: x-small;
       
       
     }

     form{
        padding:20px 0;  
        display: flex;  
    
     
       
    }

    .fa-magnifying-glass
    {
      
        width:50px;
        border-radius:0 10px 10px 0;
        margin-left:-5px;
       
       
        font-weight:bolder;
        padding-top:12px;
      
    }
    .loupe
    {
       background-color: #0065FC;
       display:flex;
       color: white;
       border-radius:0 10px 10px 0;
       height:42px;
       

    }

    .boutonloupe
    {
        background-color: #0065FC;
       
        color: white;
        border-radius:0 10px 10px 0;
        height:42px;
        display:none;
    
    
     }


    #send
    {
        display:none;
     
       
    }
    .filtres{
      
        
 
    
       
        font-size:10px;
    
       
        
    }
    .filtres ul{
        display: flex;
       flex-direction: column;
        gap:20px;
        height: 60px;
        padding-top: 70px;
 
      
       
      
        
    }
    .filtres li
    {
        font-weight: bold; 
        display: flex; 
      
        border:2px solid #F2F2F2;
        height: 28px;
        border-radius:20px;
        width:150px;
       
    }
    .filtres li a{
      
        text-align: center;
        padding-left: 8px;
        padding-right:24px;
        padding-top:7px;
        font-size:xx-small;
    }
    p i
    {
        margin-top:150px;
    }


    #cardsheb{
        display: flex;
        flex-direction: column-reverse;
      
        margin-top: 50px;
        width:400px;
       
        }
  

    #section2 h3
    {
 
        font-size:8px;
    
        
    }

    
    .cards
    {
     
      
      
       width: 400px;
       height:250px;
       padding-left:5px;
       padding-top:15px; 
     
     
    }
    .cropped
    {
        margin-top: 10px;
        
            width: 80px;
            height:100px;
           
            background-color: white;
            border:1px white solid;
         
          box-shadow: 2px 0px 2px 2px #c1c1c1;
        
          border-radius:10px;
         
            margin-bottom: 10px;
            font-size:8px;
          
            
        }
        
          
        
       
        
        .cropped img
        {
           
            width:80px;
            height:50px;
             border-radius:10px 10px 0 0;
             object-fit:cover;
           
            margin-bottom: -20px;
            
            margin-top:3px;
         } 
        
        .cropped h3
        {
            padding-bottom:5px;
            width: 160px;
           
        }
        .container
        {
          
        padding-top:3px;
            height:90px;
           padding-left: 5px;
        
           width:100px;
        
        }
        
        
        
        
        
        .container p
        {
            padding-bottom:5px;
        }

        #section2
        {
       display: flex;
          flex-direction  :column;
       width: 400px;
       height:400px;
       
     
    
      
         }
         #section3
         {
     display: flex;
    
    flex-direction: column;
    align-items: center;
    
     height:500px;
    
     border-radius: 10px;
    
    
    background-color: #F2F2F2;
    
    
    
    width:400px;
    
    
    padding-top:40px;
    margin-top:200px;
    
    }
    

    
    #section3 h1
    {
     
     
        font-size:smaller;
       
      margin-top:22px;
     
 
    
    }


   
 
  


  


  

    #section4
    {

      width:400px;
      padding-left:5px;
      height:400px;

      border-radius: 10px;
 
       
    }

    
 
     
     

   
   .lieu{
    font-size:6px;
   }
  
   
.pomeguesfrioul{
   
    display:flex;
    flex-direction: column;
  
  
  }
  .gardelongchamp{
      display:flex;
      flex-direction: column;
 
     
    
  }
  

    .vieuxport img{
       
        width:80px;
        height:120px;
     
     
        }


    .vieuxport{
        width:80px;
        height:150px;
       
        background-color: white;
      
    

    }

    .pomegues{
      
        width:80px;
        height:70px;
    }
    .pomegues img{
     width:80px;
     height:30px;
    }



    .frioul{
    
     
       width:80px;
       height:55px;
    }

    

    .frioul img{
        width:80px;
        height:30px;
    }

    .calanques
    {
       
  
   
    width:80px;
    height:150px;
   
}


    .calanques img{
        width:80px;
        height:120px;
    } 
    

    .garde{
      
        width:80px;
        height:60px;
       
  

    }
      
    
    .garde img{
        width:80px;
        height:35px;
    }

       

    .longchamp{
     
        width:80px;
        height:55px;
     
     
      
    }


    
    .longchamp img
    { 
        width:80px;
        height:25px;
     
    
    }
       
    .gardelongchamp{
        display:flex;
        flex-direction: column;
      
    }
   main
   {

    height:1750px;
    width:479px;
  
    
  
}



.activites{
    display:flex;
    flex-direction: row;
  
   gap: 10px;
    padding-top: 20px;
    height:150px;
    width:400px;
    text-align:left; 
    }
   
   
   

    body{

  font-size: 100%;
 
    }

 footer
 {
    background-color: #F2F2F2;  
   
    max-width: 480px;

    margin-top:500px;
 
    height: 140px; 
 
    margin:auto;
   }
 
 
 footer div
 {
     display: flex;
     padding: 40px 0px;
     max-width: 480px;
     margin: auto;  
     gap:40px;
 }
 footer article
 {
     display:flex;
     flex-direction: column;
     gap: 10px;
     padding-left:20px;
  
    
     
 } 
 footer ul
 {
    display: flex;
    flex-direction: column;  
    gap: 8px;
    padding-top: 5px;
    font-size:xx-small;
 }
 footer h3
 {
     display: flex; 
     font-size: xx-small;
     
      
 }
 
 
}

